<div class="container">
  <div class="cover-heading">About</div>
  <hr>

  <div class="row">
    <div class="col-md-6 my-auto">
      <h3>Dirección</h3>
      <p>Citilcum, Izamal, Yucatán</p>

      <p>Número de teléfono</p>
      <p>+52 9999902926</p>

      <h3>Email</h3>
      <p> <a href="mailto:dannyoxte@gmail.com?subject=Contacto" "email me">Email me</a></p>
    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14904.172926865149!2d-89.11821834999999!3d20.95077895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5698f6787ac0c3%3A0x645b9ac9ed6fad56!2sCitilcum%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1676843493926!5m2!1ses-419!2smx" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
